body {
  background-color: #fff8db;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

h1 {
  text-align: center;
  color: #5e6e54;
  font-weight: 900;
  font-size: 58px;
  line-height: 1.5;
  margin-bottom: -15px;
}

h2 {
  text-align: center;
  color: #5e6e54;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

header {
  margin-bottom: 40px;
}

form {
  display: flex;
}

.form-container {
  text-align: center;
  margin-bottom: 20px;
}

.instruction {
  padding: 10px;
  font-size: 18px;
  width: 79%;
  color: #5e6e54;
  border-radius: 6px;
  line-height: 1.5;
  border: 2px solid #5e6e54;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.submit-button {
  margin-left: 4px;
  background-color: #5e6e54;
  color: #fff8db;
  border: none;
  border-radius: 6px;
  font-size: 19px;
  cursor: pointer;
  width: 19%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 10px auto;
}

.hint {
  text-align: left;
  font-size: 13px;
  color: #5e6e54;
  margin-top: -16px;
  margin-bottom: 20px;
  padding-left: 15px;
  opacity: 0.69;
}

.quote-space {
  background-color: #5e6e54;
  opacity: 0.9;
  border-radius: 8px;
  padding: 20px;
  font-size: 20px;
  color: #fff8db;
  line-height: 1.6;
  margin-bottom: 20px;
  border-left: 6px solid #d2a242;
}

.hidden {
  display: none;
}

a {
  color: #d2a242;
}

.quote-space strong {
  font-weight: 900;
  color: #d2a242;
}

footer {
  text-align: center;
  font-size: 13px;
  color: #5e6e54;
  margin-top: 30px;
}

footer a {
  text-decoration: none;
  font-weight: 600;
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
